.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 100%;
  margin-bottom: 60px;

  &:hover {
    svg {
      path {
        stroke: var(--highlight);
      }
    }
  }

  svg {
    width: 100%;
    height: 100%;

    path {
      transition: stroke .3s ease-in-out;
      stroke: var(--light);
      stroke-width: 70px;
    }
  }
}
