:root {
  --dark: #1e1e1e;
  --light: #fdf9f3;
  --grey: #808080;
  --highlight: #ffb100;
  --shadow-light: 0 0 10px 5px rgba(30, 30, 30, .05);
  --shadow: 0 0 10px 5px rgba(30, 30, 30, .1);
  --radius: 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

html {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 300;
  line-height: 1.38;
  letter-spacing: .25px;
  color: var(--dark);
  background-color: var(--light);

  @include responsive-font(16, 18);
}

main {
  min-height: 100vh;
  padding-left: 90px;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

svg {
  display: block;
  overflow: visible;
}

::selection {
  color: var(--dark);
  background-color: var(--highlight);
  text-shadow: none;
}

input,
textarea,
select,
button {
  outline: none;
}

textarea {
  resize: none;
}

.wrapper {
  padding: 0 16px;

  @include min(768) {
    padding: 0 32px
  }
  @include min(1024) {
    padding: 0 64px
  }
  @include min(1200) {
    padding: 0 80px
  }
}

.map-container {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #729;
}