.kaushan{
  font-family: var(--font-kaushan), sans-serif;
}
.teko{
  font-family: var(--font-teko), sans-serif;
}
.oswald{
  font-family: var(--font-oswald), sans-serif;
}
.roboto{
  font-family: var(--font-roboto), sans-serif;
}